@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #FFFFFF;

  background: rgb(117,23,206);
  background: linear-gradient(128deg, rgba(117,23,206,1) 21%, rgba(70,2,148,1) 70%, rgba(64,2,135,1) 100%);


}
